---
import leaf from "../assets/leaf.svg";
---

<header
	class="flex items-center justify-center flex-col relative min-h-72 overflow-hidden"
>
	<div class="flex flex-col absolute -left-4 top-36 transform -translate-y-1/2">
		<img src={leaf.src} class="leaf leaf1" alt="leaf" />
		<img src={leaf.src} class="leaf leaf2" alt="leaf" />
		<img src={leaf.src} class="leaf leaf3" alt="leaf" />
		<img src={leaf.src} class="leaf leaf4" alt="leaf" />
		<img src={leaf.src} class="leaf leaf5" alt="leaf" />
		<img src={leaf.src} class="leaf leaf6" alt="leaf" />
		<img src={leaf.src} class="leaf leaf7" alt="leaf" />
	</div>
	<div class="flex flex-col absolute -right-4 -scale-x-100 transform">
		<img src={leaf.src} class="leaf leaf1" alt="leaf" />
		<img src={leaf.src} class="leaf leaf2" alt="leaf" />
		<img src={leaf.src} class="leaf leaf3" alt="leaf" />
		<img src={leaf.src} class="leaf leaf4" alt="leaf" />
		<img src={leaf.src} class="leaf leaf5" alt="leaf" />
		<img src={leaf.src} class="leaf leaf6" alt="leaf" />
		<img src={leaf.src} class="leaf leaf7" alt="leaf" />
	</div>
	<h2 class="text-xs">14 · 06 · 2024</h2>
	<h1 class="mt-0 text-6xl text-center">Natalia & Jakub</h1>
	<button
		id="add"
		class="border-none py-2 px-4 cursor-pointer rounded-2xl mt-4 transition ease-in-out"
		>Zapisz w kalendarzu</button
	>
</header>

<style>
	@font-face {
		font-family: "Tangerine";
		src: url("/fonts/Tangerine-Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	h1,
	h2 {
		color: rgb(8, 52, 8);
	}

	h1 {
		font-family: "Tangerine", sans-serif;
	}

	#add {
		background-color: rgb(22, 80, 22);
		color: rgb(242, 246, 244);
	}

	#add:hover {
		background-color: rgb(13, 72, 13);
	}

	.leaf {
		height: 40px;
		width: auto;
		opacity: 0.9;
		position: relative;
		transform-origin: left center;
	}

	.leaf1,
	.leaf5 {
		left: 10px;
		animation: wave1 4.2s infinite ease-in-out;
	}

	.leaf2,
	.leaf6 {
		left: -5px;
		animation: wave2 4.7s infinite ease-in-out;
	}

	.leaf3,
	.leaf7 {
		left: 15px;
		animation: wave3 4.5s infinite ease-in-out;
	}

	.leaf4 {
		left: 0px;
		animation: wave4 4.9s infinite ease-in-out;
	}

	@keyframes wave1 {
		0%,
		100% {
			transform: rotate(2deg);
		}
		50% {
			transform: rotate(-3deg) translateX(-3px);
		}
	}

	@keyframes wave2 {
		0%,
		100% {
			transform: rotate(-1deg);
		}
		50% {
			transform: rotate(4deg) translateX(2px);
		}
	}

	@keyframes wave3 {
		0%,
		100% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(-5deg) translateX(-4px);
		}
	}

	@keyframes wave4 {
		0%,
		100% {
			transform: rotate(-2deg);
		}
		50% {
			transform: rotate(3deg) translateX(3px);
		}
	}
</style>

<script>
	document.getElementById("add")!.addEventListener("click", () => {
		window.open("https://calendar.app.google/UuiuuqLa5q6oeZWW8", "_blank");
	});
</script>
