---
import "../styles.css";
import leaf from "../assets/leaf.svg";
---

<header
	class="flex items-center justify-center flex-col relative min-h-72 overflow-hidden"
>
	<div class="flex flex-col absolute -left-4 top-36 transform -translate-y-1/2">
		<img src={leaf.src} class="leaf leaf1" alt="leaf" />
		<img src={leaf.src} class="leaf leaf2" alt="leaf" />
		<img src={leaf.src} class="leaf leaf3" alt="leaf" />
		<img src={leaf.src} class="leaf leaf4" alt="leaf" />
		<img src={leaf.src} class="leaf leaf5" alt="leaf" />
		<img src={leaf.src} class="leaf leaf6" alt="leaf" />
		<img src={leaf.src} class="leaf leaf7" alt="leaf" />
	</div>
	<div class="flex flex-col absolute -right-4 -scale-x-100 transform">
		<img src={leaf.src} class="leaf leaf1" alt="leaf" />
		<img src={leaf.src} class="leaf leaf2" alt="leaf" />
		<img src={leaf.src} class="leaf leaf3" alt="leaf" />
		<img src={leaf.src} class="leaf leaf4" alt="leaf" />
		<img src={leaf.src} class="leaf leaf5" alt="leaf" />
		<img src={leaf.src} class="leaf leaf6" alt="leaf" />
		<img src={leaf.src} class="leaf leaf7" alt="leaf" />
	</div>
	<h2 class="text-xs">14 · 06 · 2024</h2>
	<h1 class="mt-0 text-6xl text-center">Natalia & Jakub</h1>
	<button id="add" class="button mt-4">Zapisz w kalendarzu</button>
</header>

<script>
	document.getElementById("add")!.addEventListener("click", () => {
		window.open("https://calendar.app.google/UuiuuqLa5q6oeZWW8", "_blank");
	});
</script>
